.check-in-wrapper {
  grid-column: form-s/form-e;
  grid-row: content-s/content-e;
  align-self: center;
  // margin-top: 200px;
  // margin-left: 150px;
  // position: absolute;

  .check-in-form {
    // grid-area: form;

    display: flex;
    flex-direction: column;
    font-family: "Open Sans Condensed", arial, sans;
    width: 500px;
    background: #ffffff;
    // background-color: #3c4543;
    margin: 70px auto;
    padding: 45px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.447);
    -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.447);
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.447);
    background-color: rgb(148, 148, 148);
    // -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    .form-btn {
      display: inline-block;
      border-radius: 4px;
      background-color: #004d72;
      border: none;
      color: #ffffff;
      text-align: center;
      font-size: 12px;
      padding: 8px;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
  }
  input[type="text"] {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
  }
  select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 75%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #e2211c;
    background: ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .check-in-wrapper {
    display: grid;
    grid-template-columns: 50px [content-s] 668px [content-e] 50px;
    padding-top: 5px;
    justify-items: center;
    margin-left: -1px;
    .check-in-form {
      grid-column: content-s/content-e;
      padding: 20px;
      width: 600px;
      // height: 100%;
    }
  }
}
