.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: content;
  margin-left: 600px;
  margin-top: 215px;
  position: absolute;
}
.container-items {
  display: flex;
  align-items: flex-start;

  margin: 1px;
  width: 500px;
  height: 20px;
  overflow-y: scroll;
  .items {
    // continue adding to this.
    margin: 2px;
    // text-transform: uppercase;
  }
  .items .deliveryType {
    text-transform: capitalize;
  }
}
