.container {
  grid-area: content;
  margin-top: 50px;
}
.container-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .items {
    // continue adding to this.
    margin: 2px;
    text-transform: initial;
  }
}
