.header {
  grid-column: 1/6;
  grid-row: header-s/header-e;
  // grid-area: header;
  width: 100%;
  padding: 10px;
  height: 125px;
  text-align: center;
  background-color: rgb(148, 148, 148);
  border-bottom-style: solid;
  border-color: #e2211c;

  .nav-bar {
    display: flex;
    justify-content: flex-end;
    * {
      margin-left: 20px;
    }
  }
  .link {
    color: black;
    padding-left: 20px;
    margin-left: 0px;
    margin-right: auto;
    text-decoration: none;
    font-size: small;
  }
  a:hover {
    transition: 0.5s;
    letter-spacing: 1px;
    color: rgb(169, 2, 2);
  }
  .contact {
    padding-right: 20px;
    font-size: small;
  }
  .contact:hover {
    transition: 0.5s;
    letter-spacing: 1px;
    color: rgb(169, 2, 2);
  }
}

@media (max-width: 768px) {
  .header {
    // grid-area: header;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    order: 1;
    img {
      max-width: 50%;
      height: auto;
      align-self: center;
    }
    .nav-bar {
      display: flex;
      flex-direction: column;
    }
    .nav-bar > .link {
      order: 2;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 2rem;
    }
    .nav-bar > .contact {
      order: 1;
      margin-top: 20px;
      font-size: 2rem;
    }
  }
}
